# Bluelog
node/Bluelog
# Alfa AWUS036ACH driver
rtl8812au
# log folders
node/logs
server/logs
common/logs
# www interface temp folders
server/scripts/www/html/var
server/scripts/www/html/json

.commit_info
